<h1 class="articles">Listing Articles</h1>
<%= link_to 'New article', new_article_path %><br>
<%= image_tag(current_user.avatar_thumbnail) %>
<table class="post">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>

    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %><br><%= article.comments.count %> comments</td>
      <td><% if article.image.present? %>
            <%= image_tag(article.image, style:'width:50px') %>
          <% end %>
      </td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<h>
  <div class="profile">
    <%= link_to 'Sign Out', destroy_user_session_path,
                method: :delete%><br>
    <%= link_to 'Edit Account', edit_user_registration_path %><br>
  </div>
</h>