
<% if current_user %>
  <h class="suadeo"> <%= current_user.username %>
  <div class="text">
  <%= link_to 'Sign Out', destroy_user_session_path,
              method: :delete%>
  </div>
  <div class="text">
    <%= link_to 'Edit Account', edit_user_registration_path %>
  </div>
  <div class="text">
    <%= link_to 'View Blog', controller: 'articles' %>
  </div>
  </h>
  <% else %>
  <h class="suadeo">Hello!
  <div class="text">
    <%= link_to 'Create Account', new_user_registration_path %><br>
  </div>
  <div class="text">
    <%= link_to 'Log In', new_user_session_path %>
  </div>
  </h>
  <% end %>

